<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PageController</servlet-name>
        <servlet-class>controller.PageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoController</servlet-name>
        <servlet-class>controller.ProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Produto</servlet-name>
        <servlet-class>model.Produto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>controller.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngredienteController</servlet-name>
        <servlet-class>controller.IngredienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoController</servlet-name>
        <servlet-class>controller.CarrinhoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoController</servlet-name>
        <servlet-class>controller.PedidoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageController</servlet-name>
        <url-pattern>/PageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoController</servlet-name>
        <url-pattern>/ProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Produto</servlet-name>
        <url-pattern>/Produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngredienteController</servlet-name>
        <url-pattern>/IngredienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoController</servlet-name>
        <url-pattern>/CarrinhoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoController</servlet-name>
        <url-pattern>/PedidoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
